.hero {
  position: relative;
}

.hero .hero-bg {
  position: absolute;
  width: 100%;
  height: 47%;
  background-image: url("./public/assets/hdr_ig_mrkt_bg.svg");
  background-size: cover;
  background-position: center;
  z-index: -10;
}

@media screen and (max-width: 48em) {
  .hero .hero-bg {
    height: 14.5rem;
  }
}

@media screen and (max-width: 36em) {
  .hero .hero-bg {
    height: 13.5rem;
  }
}

@media screen and (max-width: 20em) {
  .hero .hero-bg {
    height: 13rem;
  }
}
